# Local .terraform directories
**/.terraform/*

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files (usually used locally)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

.gitignore
